.clear {
  clear: both;
}

ul {
  list-style: none;
}

#image_list li {
  float: left;
}


#image_list img {
    width: 200px;
    height: 190px;
    padding: 20px;
}
#head
{
    text-align: center;
}
.front
{
    position: absolute;
    width: 200px;
    height: 200px;
}
